@import "../_styles.scss";

.postBtn {
  background-color: $greenColor;
  color: white;
  line-height: 40px;
  cursor: pointer;
}

.backBtn {
  background-color: $blueColor;
  line-height: 40px;
  cursor: pointer;
}

.field {
  border-style: groove;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
}

input{
  text-align:left;
}

.placeForm{
  select{
    width:100%;
    background-color: white;
    border-top: 1px solid $darkGrayColor;
    border-bottom: 1px solid $darkGrayColor;
    border-left:0px;
    border-right:0px;
    height: 45px;
    padding: 0 10px;
    &:focus{
      outline: 0px;
      
    }
    option{
      outline:none;
      width:100%;
      height: 50px;
      border-top: 1px solid $darkGrayColor;
    }
  }
}

.mapForm{
  .leaflet-container {
    height: 250px;
    margin-bottom: 30px;
    width: 100%;
    z-index: 0;
  }
}
