.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  margin-top: 5px;
}

.toggle-button :focus {
  outline: none;
}

.toggle-button_line {
  width: 25px;
  height: 2px;
  background: white;
}
