.homePage{
  background-color: #ededee;
  margin-right: -15px;
  margin-left: -15px;
  padding: 5px 15px;
}

.placePicture,
.activityPicture {
  background-size: cover;
  width: 100px;
  height: 100px;
}

.media {
  margin: 5px 0;
  padding: 7px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 #7d7d7d;
  box-shadow: 0 0 5px 0 #7d7d7d;
  font-family: "Raleway", sans-serif;
}

.media-left img {
  margin-right: 5px;
}

.media-body h4 {
  font-size: 10px;
  font-weight: 800;
  color: #004864;
}

.itemDaysLeft {
  color: #f5ad9d;
}

.media-body {
  font-size: 10px;
  background-color: #e5e4e9;
  border-radius: 10px 10px 10px 0;
  padding: 5px;
  line-height: 12px;
}

.seeItem {
  background-color: #6ed6f6;
  border: none;
  border-radius: 10px;
  width: 90px;
  height: 20px;
  font-size: 0.9rem;
  padding: 0;
}

.itemListPrice {
  font-weight: 800;
  font-size: 1.1rem;
  color: #004864;
  margin: 0 15px;
}

.listFooter button {
  border-radius: 0px;
  width: 100%;
  border: none;
  height: 40px;
}
.listFooter > div {
  padding-left: 0;
  padding-right: 0;
}

.listSearchBtn {
  background-color: #004864;
  padding-left: 30px;
}

.listPostBtn {
  background-color: #00b273;
  padding-right: 30px;
}

.homeUnderline {
  border-bottom: 1px solid #c1c1c2;
}

.buttonView {
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  color: #000000;
  border-bottom: 3px solid #62258a;
}

.buttonView :active {
  background-color: none;
  border-bottom: #b66315;
}
