.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer a {
  color: #521751;
  text-decoration: none;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

a.disable {
  pointer-events: none;
  cursor: default;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu li {
  margin-bottom: 10px;
}

.mentions {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentions li {
  margin-bottom: 10px;
}
