.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1000;
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.side-drawer li {
  margin: 2px;
}

.side-drawer a {
  color: #521751;
  text-decoration: none;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
