@import "../_styles.scss";

.search-btn {
  background-color: #054762;
  color: white;
  border-radius: 10px;
  border: none;
  width: 90px;
  height: 30px;
  font-size: 0.9rem;
  padding: 0;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: 8px;
}

.search-bar {
  border-style: solid;
  border: 2px solid #c1c1c1;
  border-radius: 15px;
  width: 250px;
  height: 30px;
  margin-top: 10px;
  margin-left: 2px;
}

.categoriesSearch {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.badgeDate {
  background-color: #bac1c4;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.typeList input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.typeList input:active +.typeChoice{opacity: .9;}
.typeList input:checked +.typeChoice{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.typeChoice{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:auto;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.6) grayscale(1) opacity(.7);
     -moz-filter: brightness(1.6) grayscale(1) opacity(.7);
          filter: brightness(1.6) grayscale(1) opacity(.7);
}
.typeChoice:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}