$blueColor: #054762;
$lightBlueColor: #00d3e5;
$darkGrayColor: #8c8c8c;
$blueGreycolor: #ededee;
$grayColor: #e5e4e9;
$greenColor: #03aa6f;
$orangeColor: #ffb900;
$peachColor: #ff896d;

.homeUnderline {
  border-bottom: 1px solid $grayColor;
}

.blueHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index:100;
  background-color: $blueColor;
  margin-right: -15px;
  margin-left: -15px;
  line-height: 45px;
  height: 45px;
}

.greenHeader {
  @extend .blueHeader;
  background-color: $greenColor;
}

h3 {
  background-color: $grayColor;
  font-size: 1.1rem;
  color: $blueColor;
  font-weight: 800;
}
