$blueColor : #054762;
$lightBlueColor : #00D3E5;
$darkGrayColor: #8C8C8C;
$grayColor: #E5E4E9;
$greenColor: #03AA6F;
$orangeColor: #FFB900;
$peachColor: #FF896D;


.homeUnderline {
  border-bottom: 1px solid $grayColor;
}



.blueHeader {
  background-color: $blueColor;
  margin-right: -15px;
  margin-left: -15px;
  line-height: 45px;
  height: 45px;
}

h3{
  background-color: $grayColor;
  font-size: 1.1rem;
  color: $blueColor;
  font-weight: 800;
}