.loginBackground{
  height: 100vh;  
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -15px;
  margin-left: -15px;
  background: url('./images/loginBackground.jpg')fixed center -300px no-repeat;
}

h1{
  color: #FFF;
  font-size: 1rem;
}

form{
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5)
}

input, .form-control{
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
}

.form-group{
  margin-top: 10px;
  border-bottom: 1px solid #000;
}

.facebookLogin{
  background-color: #3b5998; 
  width: 100%;
  margin: 20px 0;
  height: 40px;
  border: none;
  border-radius: 20px;
}

.login{
  background-color: #1c6793; 
  width: 100%;
  margin-top: 50px;
  height: 60px;
  border: none;
  border-radius: 30px;
}

.newAccount{
  font-size: 0.7rem;
}

.newAccount a{
  font-weight: bold;
  color: #111
}