.leaflet-container {
  height: calc(100vh - 42px);
  margin-bottom: -5px;
  width: 100%;
  z-index: 0;
}

.leaflet-popup{
  display: block;
  width: 100vh;
  height: 100px;
  position: absolute;
  bottom: 0;
}