.leaflet-container {
  height: calc(100vh - 45px);
  margin-bottom: -5px;
  width: 100%;
  z-index: 0;
}

.mapPopup{
  display: block;
  position: fixed;
  bottom: 0px;
  z-index:100;
  width:100%;
  .media{
    margin: 0px;
  }
}