@import "_styles.scss";

a.previousPage{
  background-color: $blueColor;
  border-radius: 10px;
  line-height: 25px;
}

.profilePicture button{
  width: 100px;
  height: 100px;
  padding: 0;
  img{
    width:100%;
    object-fit: cover;
  }
}

.userInfos{
  h4{
    color: $lightBlueColor;
  }
  span{
    font-weight: 100;
  }
  p{
    font-size: 0.7rem;
    font-weight: 400;
  }
}

.achievements{
  background-color: $grayColor
}

.activityCreated p{
  font-style: italic;
  font-weight: 100;
  font-size: 0.8rem;
}

.badge{
  border-radius: 10px;
  font-size: 0.9rem;  
  font-weight: 100;
}