.participate {
  width: 100%;
  text-align: center;
}

.remainingPlace {
  position: relative;
  left: 300px;
}

.activity {
  position: relative;
  left: 175px;
}

.price {
  position: relative;
  left: 30px;
}

.heart {
  position: relative;
  left: 310px;
}

.share {
  position: relative;
  left: 280px;
}

.left {
  position: relative;
  left: 30px;
}

.description {
  position: relative;
  left: 190px;
}
